@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "PlanetBenson2";
  src: url("/fonts/PlanetBenson2.woff2") format("woff2"),
    url("/fonts/PlanetBenson2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DankMono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/DankMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "DankMono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/DankMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "DankMono";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/DankMono-Italic.woff2") format("woff2");
}
