<div class="flex justify-center px-3">
  <div class="prose dark:prose-invert max-w-md lg:max-w-lg xl:max-w-xl">
    <p>
      Since April 2021 I have been a senior software consultant at <%= link("Test Double",
        to: "https://testdouble.com",
        class: "text-primary-500 hover:text-primary-600"
      ) %>.
    </p>
    <p>
      I am also a recreational poker player. <span class="font-mono">♣️♦️♠️♥️</span>
    </p>
    <p>
      You can see my writings on <%= link("my blog",
        to: Routes.blog_path(@conn, :index),
        class: "text-primary-500 hover:text-primary-600"
      ) %>.
    </p>

    <p>My socials are:</p>
    <ul>
      <li>
        <%= link("Twitter",
          to: "https://twitter.com/josephlozanodev",
          class: "text-primary-500 hover:text-primary-600"
        ) %>
      </li>
      <li>
        <%= link("LinkedIn",
          to: "https://linkedin.com/in/joseph-lozano",
          class: "text-primary-500 hover:text-primary-600"
        ) %>
      </li>
    </ul>
  </div>
</div>
